{
  "botToken": "DISCORD_BOT_TOKEN",
  "username": "WEKU_USERNAME",
  "postingKey": "WEKU_WIF",
  "weight": 100,
  "minVp": 60,
  "voteInterval": 20,
  "minPostAge": "30 minutes ago",
  "maxPostAge": "4 days ago",
  "commandPrefix" : "$",
  "adminList": ["354999742318641193", "411865062731677696"],
  "runtimeConfigFile": "config-runtime.json",
  "errorTrackerDsn": "ERROR_TRACKER_DSN",
  "upvoteSuccessComment": "<center><p><br /><img src=\"https://images2.weku.io/DQmRp1TETn49AnyZdmvRU47KZyC183x7sNxgCeXm1TzNsDd/794.png\" alt=\"WEKU Community\" /></p><h1>Join our discord server for more experience:</h1>\n<pre><code>    Click And==<a href=\"https://discordapp.com/invite/GNMJdqC\" rel=\"noopener noreferrer\">Join Fast With Our</a>    </code></pre>\n<p>In order to support WeKu first community builder.</p></center>"
}
