{
  "botToken": "DISCORD_BOT_TOKEN",
  "username": "WEKU_USERNAME",
  "postingKey": "WEKU_WIF",
  "weight": 10,
  "minVp": 80,
  "voteInterval": 20,
  "minPostAge": "30 minutes ago",
  "maxPostAge": "4 days ago",
  "commandPrefix" : "$",
  "adminList": ["478630106257031189"],
  "runtimeConfigFile": "config-runtime.json",
  "errorTrackerDsn": "ERROR_TRACKER_DSN",
  "discordUserMentionPattern": "<@%s>",
  "upvoteSuccessComment": "## You got upvote from @Wekunewbies.It is a project created to help the minnows of Weku Community.This project is brought to you by @taifkhan and the whole moderators team.To help this project please upvote this comment "
}
